<section id="messages">

                <div class="message messageRecieve">
                    <img class="profilePic" src="img/profilePicture1x256.jpg" alt="Profiel foto van Hinze">
                    <p>
                        According to all known laws of aviation, there is no way a bee should be able to fly. Its wings
                        are
                        too small to get its fat little body off the ground. The bee, of course, flies anyway because
                        bees
                        don't care what humans think is impossible. Yellow, black. Yellow, black. Yellow, black. Yellow,
                        black. Ooh, black and yellow! Let's shake it up a little. Barry! Breakfast is ready! Ooming!
                        Hang on
                        a second. Hello? - Barry? - Adam? - Oan you believe this is happening? - I can't. I'll pick you
                        up.
                        Looking sharp. Use the stairs. Your father paid good money for those.
                    </p>
                </div>

                <div class="message messageSend">
                    <p>Hey, we matched!</p>
                </div>

                <div class="message messageRecieve">
                    <img class="profilePic" src="img/profilePicture1x256.jpg" alt="Profiel foto van Hinze">
                    <p>Hey, How are you?</p>
                </div>

            </section>

            <section id="messageForm">
                <form action="">
                    <input type="text" id="message" name="message" placeholder="Type a message">
                    <button type="submit">
                        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.0114107 0L0 8.68966L10.4762 10.5L0 12.3103L0.0114107 21L24 10.5L0.0114107 0Z" />
                        </svg>
                    </button>
                </form>
            </section>