<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <h2>Messages</h2>
    <div class="profile">
        <img src="img/profilePicture1x256.jpg" alt="Profile picture of Hinze">
        <div>
            <h3>Name</h3>
            <p>Last Message</p>
        </div>
    </div>
    
    <div class="profile">
        <img src="img/profilePicture2x256.jpg" alt="Profile picture of Hinze">
        <div>
            <h3>Name</h3>
            <p>Last Message</p>
        </div>
    </div>
</aside>