<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <h2>Messages</h2>

    <% for (let i = 0; i < data.length; i++) { %>

    <form action="/chats" method="post">
        <button type="submit" value="<%= data[i].name %>">
            <img src="<%= data[i].imgHalfRes %>" alt="Profile picture of <%= data[i].name %>">
            <div class="profile">
                <div>
                    <h3>
                        <%= data[i].name %>
                    </h3>
                    <p>Last Message</p>
                </div>
            </div>
        </button>
    </form>

    <% } %>

    <div class="profile">
        <a href="http://localhost:3000/addChat">Add chat</a>
    </div>
</aside>