<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <h2>Messages</h2>

    <% for (let i = 0; i < data.length; i++) { %>
    <div class="profile">
        <img src="<%= data[i].imgHalfRes %>" alt="Profile picture of <%= data[i].name %>">
        <div>
            <h3>
                <%= data[i].name %>
            </h3>
            <p>Last Message</p>
        </div>
    </div>
    <% } %>

    <div class="profile">
        <form action="/" method="post">
            <button>Add chat</button>
        </form>
        <!-- <form> -->
        <!-- <input type="text" id="message" name="message" placeholder="Type a message">
            <button type="submit" id="sendMessage">
                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.0114107 0L0 8.68966L10.4762 10.5L0 12.3103L0.0114107 21L24 10.5L0.0114107 0Z" />
                </svg>
            </button> -->
        <!-- </form> -->

        <!-- <div>
            <h3>
                Add chat
            </h3>
        </div> -->
    </div>


</aside>