<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492 492">
                <path
                    d="M464.344 207.418l.768.168H135.888l103.496-103.724c5.068-5.064 7.848-11.924 7.848-19.124 0-7.2-2.78-14.012-7.848-19.088L223.28 49.538c-5.064-5.064-11.812-7.864-19.008-7.864-7.2 0-13.952 2.78-19.016 7.844L7.844 226.914C2.76 231.998-.02 238.77 0 245.974c-.02 7.244 2.76 14.02 7.844 19.096l177.412 177.412c5.064 5.06 11.812 7.844 19.016 7.844 7.196 0 13.944-2.788 19.008-7.844l16.104-16.112c5.068-5.056 7.848-11.808 7.848-19.008 0-7.196-2.78-13.592-7.848-18.652L134.72 284.406h329.992c14.828 0 27.288-12.78 27.288-27.6v-22.788c0-14.82-12.828-26.6-27.656-26.6z" />
            </svg>
        </a>

        <% if (data2.length > 0) { %>

        <% for (let i = 0; i < data2.length; i++) { %>

        <% if (data2[i]._id != data.clientid) { %>
        <h1> <%= data2[i].username %> </h1>
        <% } %>

        <% } %>

        <% } else { %>
        <h1>Username</h1>
        <% } %>

        <form id="deleteChat" action="/deleteChat" method="post">
            <button type="submit">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M463.875 114.441L452.57 80.555a31.526 31.526 0 00-29.941-21.578h-95.012V28.043C327.617 12.582 315.047 0 299.59 0h-87.008c-15.453 0-28.027 12.582-28.027 28.043v30.934H89.547a31.528 31.528 0 00-29.945 21.578L48.297 114.44a25.426 25.426 0 003.484 22.856 25.426 25.426 0 0020.578 10.539h11.817l26.008 321.605C112.117 493.305 132.367 512 156.293 512h204.863c23.922 0 44.176-18.695 46.106-42.562l26.008-321.602h6.542a25.435 25.435 0 0020.579-10.535 25.435 25.435 0 003.484-22.86zM214.555 30h83.062v28.977h-83.062V30zm162.804 437.02c-.679 8.402-7.797 14.98-16.203 14.98H156.293c-8.406 0-15.523-6.578-16.203-14.98l-25.817-319.184h288.899L377.359 467.02zM78.793 117.836l9.27-27.79c.21-.64.808-1.07 1.484-1.07h333.082c.676 0 1.269.43 1.484 1.07l9.27 27.79H78.793z" />
                    <path
                        d="M329.516 465.957c.265.016.527.02.793.02 7.925 0 14.55-6.211 14.964-14.219l14.086-270.399c.43-8.273-5.929-15.332-14.199-15.761-8.293-.442-15.328 5.925-15.762 14.199l-14.082 270.398c-.429 8.274 5.926 15.332 14.2 15.762zM167.566 451.793c.438 7.996 7.055 14.184 14.965 14.184.274 0 .555-.008.832-.024 8.27-.449 14.61-7.519 14.16-15.793L182.77 179.762c-.45-8.274-7.52-14.614-15.793-14.16-8.27.449-14.61 7.519-14.161 15.793l14.75 270.398zM256.254 465.977c8.285 0 15-6.715 15-15V180.578c0-8.285-6.715-15-15-15s-15 6.715-15 15v270.399c0 8.285 6.715 15 15 15z" />
                </svg>
            </button>
        </form>

    </header>

    <main>
        <div class="wrapper">

            <%- include('components/sidebar', {chats: data, users: data2}); -%>

            <%- include('components/chat', {data: data}); -%>

        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>