* {
    margin: 0;
    padding: 0;

    --white: #fff;
    --black: #000;

    --lightGray: #EBEBEB;
    --lightGray2: #E4E4E4;
    --lightBlue: #00A9E2;
    --darkBlue: #2C4268;
    --red: #E63946;

    font-family: sans-serif;
}


/* Defealt form styles */
.textfield {
    box-sizing: border-box;
    padding: .8rem 1rem;
    background-color: var(--lightGray2);
    border-radius: 1000px;
    font-size: 1rem;
    height: auto;
    border: none;
    outline: none;
    border: 1px solid transparent;
}

.textfield:active, .textfield:focus {
    border-color: 1px solid var(--darkBlue);
}

.submitIconButton {
    display: flex;
    justify-content: center;

    width: 2.6rem;
    height: 2.6rem;

    margin-left: 1rem;
    padding: .4rem .8rem;
    background-color: var(--darkBlue);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    border: 1px solid transparent;

    font-size: 0;
}

.submitIconButton svg {
    fill: var(--white);
}

button {
    cursor: pointer;
}


/* Style header*/
header {
    grid-area: header;
}

header nav h2 {
    background-color: var(--darkBlue);
    padding: .4rem 1rem;
    color: var(--white);

    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
}

nav {
    background-color: var(--lightGray2);
    padding-bottom: 1rem ;
}

nav #profileSearchbar {
    display: flex;
    margin: 1rem;
}

nav #profileSearchbar input[type=text] {
    width: 100%;
    background-color: var(--white);
}

nav #profileSearchbar svg {
    fill: var(--white);
}

nav .userChats {
    display: flex;
    overflow-x: scroll;
    margin: 0 1rem 1rem 1rem;
}

nav .userChats .profile {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    background: none ;
    border: none;
}

nav .userChats .profile img {
    max-height: 100px;
    margin-right: 1rem;
    border-radius: 1000px;
}


/* Style main */
main {
    grid-area: main;
}

main h1 {
    background-color: var(--darkBlue);
    padding: .4rem 1rem;
    color: var(--white);

    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
}


/* Style messages*/
#messages {
    margin: 0 .8rem 4rem .8rem;

    overflow-y: auto;
    max-height: calc(100vh - 8rem);
    height: auto;
}

#messages::-webkit-scrollbar {
    width: .4rem; 
}

#messages::-webkit-scrollbar-track {
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: var(--lightGray2);
    border-radius: 2rem;
}


/* Style send and recieve messages*/
.message {
    display: flex;
}

.message:first-child {
    margin-top: 2rem;
}

.message p {
    z-index: -1;
    display: inline-block;
    position: relative;
    max-width: 70%;

    margin-bottom: 1.6rem;
    padding: .4rem 1rem;

    border-radius: 10px;

    font-size: 1rem;
}

.messageRecieve p {
    background-color: var(--lightGray);
}

.messageRecieve p::after {
    content: "";
    position: absolute;
    top: calc(100% - 14px);
    left: 0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 14px;
    border-color: transparent transparent transparent var(--lightGray);
}

.profilePic {
    z-index: -1;
    width: 2.6rem;
    height: 2.6rem;
    margin-right: .6rem;
    border-radius: 1000px;
}

.messageSend {
    justify-content: flex-end;
}

.messageSend p {
    background-color: var(--lightBlue);
    color: var(--white);
}

.messageSend p::after {
    content: "";
    position: absolute;
    top: calc(100% - 14px);
    right: 0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 14px 12px 0;
    border-color: transparent var(--lightBlue) transparent transparent;
}

/* Style send message form */
#messageForm {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    margin: 0 1rem 1rem 1rem;
}

main #messageForm input[type=text] {
    width: calc(100% - 7.6rem);
}


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 48rem) {

}


/* Large devices (laptops/desktops, 1024px and up) */
@media screen and (min-width: 64rem) {
    .layoutGrid {
        display: grid;

        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header main";
    }

    nav {
        min-height: 100vh;
        padding-bottom: 0;
    }

    nav .userChats {
        flex-direction: column;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: initial;
    }

    nav .userChats .profile {
        margin-bottom: 1rem;
    }

    #chat {
        min-height: 100vh;
        position: relative;
    }

    #messageForm {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;

        margin: 0 0 1rem 0;
        padding: 0 1rem;
    }

    main #messageForm input[type=text] {
        width: calc(100% - 5.6rem);
    }
}
